
@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,500');

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.0em;
  font-weight: 200;
  line-height: 1.3em;
  color: #181f04;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 1.8em;
}

table {
  text-align: left;
  border-spacing: 0;
}

th {
  padding: 0.4em 0.4em 0.1em 0.4em;
  font-weight: 400;
  font-size: 1.1em;
  background-color: #f8ffd4;
}

td {
  padding: 0.4em 0.4em 0.2em 0.4em;
  vertical-align: middle;
}

table tr:nth-child(odd) {
  background-color: #f8ffd4;
}

a {
  text-decoration-style: dotted;
  text-decoration-color: #c8cf84;
  color: #000;
}

hr {
  border: 0;
  height: 1px;
  background:  #c8cf84;
}

.hide {
  display: none;
}
